@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@theme {
  --color-divider: #494e6e;
  --color-box-dark: #1e2139;
  --color-new: #7c5dfa;
  --color-paid: #33d69f;
  --color-pending: #ff8f00;
  --color-draft: #373b53;

  --shadow-box-dark: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  --shadow-box-light: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #f8f8fb;
  min-height: 100vh;
}

header {
  background-color: #373b53;
}

body.dark {
  background-color: #141625;
}
